*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

:root {
  --primary-background-color: #000;
  --secondary-background-color: #15172b;
  --secondary-background-color-light: #303245;

  --app-red-color: #ea4f4f;
  --app-blue-color: #4a4f7e;
}

body {
  background-color: var(--primary-background-color);
}

/* MAIN CONTAINER */
.main-container {
  margin: 30px;
}

nav {
  width: 100%;
  background-color: var(--secondary-background-color);
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  margin-bottom: 30px;
  color: #fff;
}

/* FORM CONTAINER */
.form-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  box-sizing: border-box;
  color: #fff;
}

.form-container h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.form-container label,
.form-container button,
.form-container select,
.form-container input {
  display: block;
}

.form-container select,
.form-container input,
.form-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  background-color: var(--secondary-background-color-light);
  border-radius: 12px;
  border: none;
  color: #fff;
}

.form-container button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--app-blue-color);
  color: #fff;
  border-radius: 12px;
}

.form-container #id_is_manager {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--secondary-background-color-light);
  border-radius: 50px;
  border: 2px solid var(--secondary-background-color-light);
}

.form-container #id_is_manager:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 50px;
  transition: all .5s;
}

.form-container #id_is_manager:checked:before {
  transform: translate(100%);
  transition: all .5s;
  background-color: #ECF0F3;
}

/* ALERT MESSAGE */
.alert-message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--app-red-color);
  border: 3px solid red;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  min-width: 500px;
  opacity: 0;
  animation: reveal-alert-message 0.75s ease 0.5s forwards;
}

@keyframes reveal-alert-message {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* RESPOSITORY */
.repository {
  padding: 25px 0;
  display: grid;
  gap: 15px;
  padding-top: 0;
}

.repository h1 {
  color: #fff;
  text-transform: uppercase;
}

.repository>.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.repository .table-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr) repeat(2, 0.5fr);
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 18px 0;
}

.repository .table-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr) repeat(2, 0.5fr);
  width: 100%;
  padding: 18px 0;
  background-color: #ccc;
}

.repository .table-row:nth-of-type(odd) {
  background-color: #EEEEEE;
}

.repository .table-data,
.repository .header__item {
  /* flex: 1 1 20%; */
  text-align: center;
}

.repository .header__item {
  text-transform: uppercase;
}

.repository .table-row button {
  background-color: #ff7a7a;
  color: #fff;
}

.repository .table-row button {
  background-color: var(--app-red-color);
  color: #fff;
}

.repository .table-row a {
  background-color: var(--app-blue-color);
  color: #fff;
}