*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* MAIN CONTAINER */
.main-container {
  margin: 30px;
}

/* REPOSITORY */
.repository {
  margin: 10px 0;
}

/* FORM CONTAINER */
.form-container {
  width: 500px;
  margin: 20px auto;
  background: #002bff59;
  padding: 10px 20px;
  border: 5px solid #465fda;
  border-radius: 5px;
}

.form-container h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.form-container label,
.form-container button,
.form-container select,
.form-container input {
  display: block;
}

.form-container select,
.form-container input,
.form-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.form-container button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  background-color: #465fda;
  color: #fff;
}

.form-container #id_is_manager {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #465fda;
  border-radius: 50px;
}

.form-container #id_is_manager:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: navy;
  border-radius: 50px;
  transition: all .5s;
}

.form-container #id_is_manager:checked:before {
  transform: translate(100%);
  transition: all .5s;
  background-color: #ECF0F3;
}

/* ALERT MESSAGE */
.alert-message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ff7a7a;
  border: 3px solid red;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  min-width: 500px;
  opacity: 0;
  animation: reveal-alert-message 0.75s ease 0.5s forwards;
}

@keyframes reveal-alert-message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* RESPOSITORY */
.repository {
  max-height: 50vh;
  overflow-y: scroll;
  border: 1px solid #000;
  padding: 25px;
  display: grid;
  gap: 15px;
}

.repository .employee {
  box-shadow: rgb(0 0 0 / 27%) 0px 1px 4px;
  padding: 10px;
  border-radius: 5px;
}

.repository button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ea4c4c;
  color: #fff;
}