<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Employee</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="main-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="display">Display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="update">Update</a>
        </li>
      </ul>
    </nav>

    <div class="repository">
      <h1>Employee list</h1>
      {% for employee in data %}
      <div class="employee">
        <p>Name: {{ employee.0 }}</p>
        <p>Email: {{ employee.1 }}</p>
        <p>Role: {{ employee.2 }}</p>
        <p>Department: {{ employee.3 }}</p>
        <p>Reports To: {{ employee.4 }}</p>
        <p>Location: {{ employee.5 }}</p>
        {% if employee.6 == True %}
        <p>Is Manager: {{ employee.6 }}</p>
        {% endif %}
        <button data-id="{{employee.7}}">Delete</button>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>