{% extends 'base.html' %}

{% block body_data %}
<div class="repository">
  <h1>Employee list</h1>
  <div class="table">
    <div class="table-header">
      <div class="header__item">Name</div>
      <div class="header__item">Email</div>
      <div class="header__item">Role</div>
      <div class="header__item">Department</div>
      <div class="header__item">Reports To</div>
      <div class="header__item">Location</div>
      <div class="header__item">Manager</div>
      <div class="header__item"></div>
      <div class="header__item"></div>
    </div>

    <div class="table-content">
      {% for employee in data %}
      <div class="table-row">
        <div class="table-data">{{ employee.0 }}</div>
        <div class="table-data">{{ employee.1 }}</div>
        <div class="table-data">{{ employee.2 }}</div>
        <div class="table-data">{{ employee.3 }}</div>
        <div class="table-data">{{ employee.4 }}</div>
        <div class="table-data">{{ employee.5 }}</div>
        <div class="table-data">{{ employee.6 }}</div>
        <button class="table-data" data-id="{{employee.7}}">Delete</button>
        <a href="/update/{{employee.7}}" class="table-data">Update</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body_data %}

{% block javascript %}
<script src="/static/js/utils.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/display.js"></script>
<script src="/static/js/app.js"></script>
{% endblock javascript %}