<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NIQ Employee Repository</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="main-container">
    {% if message %}
    <div class="alert-message">{{ message }}</div>
    {% endif %}
    <h1>NIQ Employee Repository</h1>

    <div class="repository">
      <h1>Employee list</h1>
      {% for employee in data %}
      <div class="employee">
        <p>Name: {{ employee.0 }}</p>
        <p>Email: {{ employee.1 }}</p>
        <p>Role: {{ employee.2 }}</p>
        <p>Department: {{ employee.3 }}</p>
        <p>Reports To: {{ employee.4 }}</p>
        <p>Location: {{ employee.5 }}</p>
        {% if employee.6 == True %}
        <p>Is Manager: {{ employee.6 }}</p>
        {% endif %}
        <button data-id="{{employee.7}}">Delete</button>
      </div>
      {% endfor %}
    </div>

    <div class="form-container">
      <h3>Add new employee</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
  <script src="/static/js/app.js"></script>
</body>

</html>